@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Primary */
  --dark-cyan-hover: hsl(158, 36%, 27%);
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

h1,
h2,
h3 {
  line-height: 1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;

  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--cream);
  color: var(--dark-grayish-blue);
}

.product {
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}

.product__content {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.product__category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8125rem;
}

.product__title {
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
  font-size: 2rem;
}

.product__desc {
  font-size: 0.9125rem;
}

.flex-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.current-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--dark-cyan);
  font-weight: 700;
}

.button {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 0.5rem;
  padding: 0.5em 1em;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-weight: 600;
  font-size: 0.925rem;
}

.button:is(:hover, :focus) {
  background-color: var(--dark-cyan-hover);
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  width: 15px;
  height: 16px;
  /* background-color: red; */
  background-image: url("./images/icon-cart.svg");
}

@media (min-width: 600px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
